// ==========================================================================
// Global Config
// ==========================================================================



// Font Stacks

$font-url--google1:   "https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap";
$font-url--google2:   "https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap";

$font-family--secondary:   "Crimson Text", serif;
$font-family--primary: "Work Sans", sans-serif;

// Font Weights

$font-weight--normal: 400;
$font-weight--bold: 700;

// Descriptive Base Colors

$white: #fff;
$black: #0b0b0b;
$gray:  #a7a7a7;

$violet-blue:   #7477bf;
$purple-navy:   #4d4c72;

// Color Usage



// Line-height
$line-height:   1.5;

// Box-shadow
$box-shadow:    0 2px 0 rgba(0, 0, 0, 6%);

// Border
$border:    2px solid $gray;


// Border-radius
$br:     5px;
