/* Nav Styles
========================================================================== */

/**
* 
*/

.sidebar {
  background-color: $purple-navy;
  padding: 0.7em;
  ul {
    display: flex;
    justify-content: center;
  }

  li {
    flex-basis: 10%;
    a:focus {
      outline: $outline;
    }
  }

  li + li {
    margin-left: 1.5em;
  }

  @media (min-width: 768px) {
    ul {
      flex-direction: column;
    }

    li + li {
      margin-left: 0;
    }

    li {
      margin-top: 1.5em;
    }
  }
}
