/* Social Section
========================================================================== */

/**
* 
*/
.social {
  &-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
    width: 90vw;
    border-radius: $br;
    padding: 1em;
    background-color: $violet-blue;
    color: $white;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.1);
    height: 140px;
  }

  &-image {
    width: 30%;
    align-self: center;
  }

  &-text {
    align-self: flex-start;

    P {
      font-size: 1rem;
      margin-bottom: -0.5rem;
    }

    &:last-child {
      font-size: 2.5rem;
    }
  }

  &-icn {
    fill: $white;
  }

  @media (min-width: 768px) {
    &-div {
      flex-direction: row;
    }

    &-container {
      width: 30vw;
      margin-right: 1em;
    }
  }
}
