.traffic {
  &-nav {
    display: flex;
    justify-content: space-around;

    margin-bottom: 1em;

    &-link {
      font-weight: $font-weight--bold;
      padding: 0.5em;
       a:focus {
        outline: $outline
      }
    }
  }

  @media (min-width: 768px) {
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-nav-link {
      margin-right: 1em;
    }
  }
}

.selected {
  background-color: $color-accent;
  color: $white;
  border-radius: 16px;
}
