/* Box -Sizing Declaration
========================================================================== */

/**
* 
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General Styles
========================================================================== */

/**
* 
*/

html {
  font-size: 1em;
  line-height: 1.5;
}

body {
  background-color: $white;
  font-family: $font-family--primary;
}

section {
  margin-bottom: 1em;
}

h1,
h2,
h3 {
  font-family: $font-family--secondary;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding-left: 1em;
  padding-right: 1em;
  @media (min-width: 769px) {
    padding-right: 0;
    padding-left: 0;
  }
}
