/*card 
========================================================================== */

/**
* 
*/

.card {
    background-color: $white;
    border-radius: $br;
    box-shadow: $box-shadow;
    padding: 1em;
}